@{
    Layout = null;
}
<div id="magnific-popup-reload-alert" class="white-popup mfp-hide">
    <div class="content_lightbox">
        <div class="head red magnific-title">Thông báo từ hệ thống</div>
        <p class="magnific-body">
            Tài khoản của bạn đã hết phiên đăng nhập. Bạn phải đăng nhập lại để tiếp tục sử dụng hệ thống.
            <br />

        </p>
        <p class="gray">Hệ thống sẽ tự động chuyển hướng sau <strong><span class="blue" id="time-counter"></span></strong> giây ...</p>
        <div class="form-default">
            <div class="form-group mt20 block align-right">
                <button type="button" class="btn btn-default red btn-confirm-action" onclick="location.reload(true);"><i class="fa fa-check"></i>Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('body').css('overflow', 'hidden');
        let elPopup = $('#magnific-popup-reload-alert');
        jQuery.magnificPopup.open({
            items: {
                src: elPopup
            },
            type: 'inline',
            midClick: true,
            mainClass: 'mfp-with-zoom',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            removalDelay: 300
        });

        var seconds = 11;
        function incrementSeconds() {
            seconds -= 1;
            $('#time-counter').html(seconds);
            if (seconds == 0) {
                location.reload(true);
            }
        }
        setInterval(incrementSeconds, 1000);
    });
</script>