
@{
    ViewData["Title"] = "Error Page - 404";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}
<div class="container box-list-normal">
    <div class="cart_empty bg_warp ">
       
        <div class="mt20"> <img src="~/images/graphics/bao-tri.svg" /></div>
        <h2 class="mt30 mb5 color_green2 uppercase medium">Trang này không tồn tại</h2>
        <p class="mb10" style="color:#585858">Đường dẫn này không tồn tại hoặc bạn không có quyền truy cập, vui lòng quay trở lại</p>
    </div>

   
</div>