@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title> @ViewData["Title"] </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/theme.css">
    @*<link type="image/x-icon" href="~/images/graphics/logo_adavigo.jpg" rel="shortcut icon" />*@
    <!-- build:head -->
</head>

<body class="homepage bg-login">
    @RenderBody()
    <!--Jquery lib-->
    <script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/magnific-popup/jquery.magnific-popup.js"></script>

    <script type="text/javascript" src="~/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/js/simple-scrollbar.min.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>