
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container box-list-normal">
    <div class="cart_empty bg_warp ">

        <div class="mt20"> <img src="~/images/graphics/bao-tri.svg" /></div>
        <h2 class="mt30 mb5 color_green2 uppercase medium">Website đang nâng cấp</h2>
        <p class="mb10" style="color:#585858">Website đang trong quá trình nâng cấp hệ thống. Xin vui lòng quay lại sau</p>
        <P class="mb20">Hỗ trợ ngay : <strong>1900.633.376</strong></P>
    </div>
</div>