@using Entities.ViewModels;
@{
    Layout = null;
}
@model List<SummaryVehicleBySiteViewModel>
<thead>
    <tr>
        <th>Nhà máy</th>
        <th>Kế Hoạch (Tấn)</th>
        <th>Thực Xuất (Tấn)</th>
        <th>Số xe</th>
        <th></th>
    </tr>
</thead>
<tbody>
    @if (Model != null && Model.Count > 0)
    {
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.TableName</td>
                <td>@item.WeightValue.ToString("N3")</td>
                <td>@item.TotalTon.ToString("N3")</td>
                <td>@item.TotalCar.ToString("N0")</td>

            </tr>
        }
    }
    else
    {
        <h5>Không có kết quả tìm kiếm</h5>
    }
</tbody>
