<main class="main-section">


    <div class="table-head">
        <a href="" class="btn-back">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M19 12H5M5 12L12 19M5 12L12 5" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </a>
        <h2 class="table-title">Báo cáo tổng hợp</h2>
        <div class="table-search">
            <input type="text" placeholder="Tìm kiếm">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                <path d="M13.3538 12.6464L10.2244 9.51764C11.1314 8.42871 11.5837 7.03201 11.4872 5.6181C11.3906 4.20419 10.7527 2.88193 9.70609 1.92637C8.65949 0.970822 7.28478 0.455551 5.86795 0.487751C4.45111 0.519951 3.10123 1.09714 2.09912 2.09926C1.09701 3.10137 0.519814 4.45125 0.487614 5.86808C0.455414 7.28492 0.970685 8.65963 1.92624 9.70623C2.88179 10.7528 4.20405 11.3908 5.61796 11.4873C7.03187 11.5838 8.42857 11.1315 9.51751 10.2245L12.6463 13.3539C12.6927 13.4003 12.7479 13.4372 12.8086 13.4623C12.8693 13.4875 12.9343 13.5004 13 13.5004C13.0657 13.5004 13.1308 13.4875 13.1915 13.4623C13.2522 13.4372 13.3073 13.4003 13.3538 13.3539C13.4002 13.3074 13.4371 13.2523 13.4622 13.1916C13.4873 13.1309 13.5003 13.0658 13.5003 13.0001C13.5003 12.9344 13.4873 12.8694 13.4622 12.8087C13.4371 12.748 13.4002 12.6928 13.3538 12.6464ZM1.50001 6.00014C1.50001 5.11013 1.76393 4.2401 2.25839 3.50008C2.75286 2.76006 3.45566 2.18328 4.27793 1.84268C5.1002 1.50209 6.005 1.41298 6.87791 1.58661C7.75083 1.76024 8.55265 2.18883 9.18199 2.81816C9.81132 3.4475 10.2399 4.24932 10.4135 5.12224C10.5872 5.99515 10.4981 6.89995 10.1575 7.72222C9.81687 8.54449 9.24009 9.24729 8.50007 9.74176C7.76005 10.2362 6.89002 10.5001 6.00001 10.5001C4.80694 10.4988 3.66311 10.0243 2.81949 9.18066C1.97586 8.33704 1.50133 7.19321 1.50001 6.00014Z" fill="#638C1C"></path>
            </svg>
        </div>
    </div>

    <div class="filter-grid">
        <div class="form-group">
            <select id="period">
                <option selected="">2026 (Fiscal Year)</option>
            </select>
            <label for="period">Period</label>
        </div>

        <div class="form-group">
            <select id="plant">
                <option selected="">NGHE AN</option>
                <option>HANOI</option>
                <option>DONG NAI</option>
            </select>
            <label for="plant">Plant</label>
        </div>

        <div class="form-group">
            <select id="mang">
                <option selected="">All</option>
                <option>Máng 1</option>
                <option>Máng 2</option>
            </select>
            <label for="mang">Máng</label>
        </div>

        <div class="form-group">
            <select id="xenang">
                <option selected="">All</option>
                <option>Xe nâng 1</option>
            </select>
            <label for="xenang">Xe nâng</label>
        </div>

        <div class="form-group">
            <select id="taitrong">
                <option selected="">All</option>
                <option>8 tấn</option>
                <option>15 tấn</option>
            </select>
            <label for="taitrong">Tải trọng</label>
        </div>

        <div class="form-group">
            <select id="khunggio">
                <option selected="">All</option>
                <option>Ca sáng</option>
                <option>Ca tối</option>
            </select>
            <label for="khunggio">Khung giờ ra</label>
        </div>

        <div class="form-group">
            <select id="truck">
                <option selected="">All</option>
            </select>
            <label for="truck">Truck</label>
        </div>

        <div class="form-group clear-btn">
            <a href="#">Xoá bộ lọc</a>
        </div>
    </div>

    <div class="stats-grid">
        <div class="stat-box">
            <p>Khối lượng xuất (tấn)</p>
            <h3>2.555</h3>
        </div>
        <div class="stat-box">
            <p>Số chuyến đã xuất</p>
            <h3>319</h3>
        </div>
        <div class="stat-box">
            <p>Số tấn trung bình loading/h</p>
            <h3>18.0</h3>
        </div>
        <div class="stat-box">
            <p>Số phút loading 1 tấn TP</p>
            <h3>13.5</h3>
        </div>
        <div class="stat-box">
            <p>Số phút loading 1 chuyến</p>
            <h3>108.2</h3>
        </div>
    </div>

    <div class="dashboard-grid">
        <!-- Cột 1 -->
        <div class="card-dashboard">
            <div class="card-header">
                <h3>Thống kê ngày</h3>
                <div class="date-picker">
                    <input type="date" value="2025-07-24">
                </div>
            </div>

            <table class="info-table">
                <tbody>
                    <tr>
                        <td>Thời điểm kết thúc xuất hàng</td>
                        <td>14:08:19</td>
                    </tr>
                    <tr>
                        <td>Số lượng chuyến đã xuất</td>
                        <td>21 chuyến</td>
                    </tr>
                    <tr>
                        <td>Khối lượng đã xuất</td>
                        <td>202 tấn</td>
                    </tr>
                    <tr>
                        <td>Số giờ làm việc</td>
                        <td>8.6 giờ</td>
                    </tr>
                    <tr>
                        <td>Năng suất trung bình</td>
                        <td>23.4 (tấn/h)</td>
                    </tr>
                    <tr>
                        <td>Thời gian loading trung bình/tấn</td>
                        <td>127 (ph/tấn)</td>
                    </tr>
                    <tr>
                        <td>Thời gian loading trung bình/chuyến</td>
                        <td>123 (ph/chuyến)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Cột 2 -->
        <div class="chart-card">
            <div class="card-dashboard">
                <div class="card-header">
                    <h3>Xu hướng khối lượng xuất và năng suất loading</h3>
                    <div class="date-picker">
                        <select>
                            <option>Tháng này</option>
                            <option>Tháng trước</option>
                        </select>
                    </div>
                </div>
                <img src="images/graphics/chart1.png" alt="">
            </div>
            <!-- <canvas id="loadingChart">
            </canvas> -->

            <div class="dashboard-grid bottom-grid">
                <div class="card-dashboard">
                    <h3>Title</h3>
                    <div class="table-wrapper simple-scrollbar">
                        <table class="data-table">
                            <thead>
                                <tr>
                                    <th>Nhóm xe</th>
                                    <th>Khối lượng (tấn)</th>
                                    <th>Loading time/truck</th>
                                    <th>Loading time/tons</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nhóm 1: trên 30T</td>
                                    <td>377</td>
                                    <td>215</td>
                                    <td>6.3</td>
                                </tr>
                                <tr>
                                    <td>Nhóm 2: 20–30T</td>
                                    <td>50</td>
                                    <td>141</td>
                                    <td>5.7</td>
                                </tr>
                                <tr>
                                    <td>Nhóm 3: 10–20T</td>
                                    <td>1,007</td>
                                    <td>127</td>
                                    <td>11.0</td>
                                </tr>
                                <tr>
                                    <td>Nhóm 4: 5–10T</td>
                                    <td>840</td>
                                    <td>105</td>
                                    <td>15.0</td>
                                </tr>
                                <tr>
                                    <td>Nhóm 5: 3–5T</td>
                                    <td>79</td>
                                    <td>43.5</td>
                                    <td>43.5</td>
                                </tr>
                                <tr>
                                    <td>Nhóm 6: 1–3T</td>
                                    <td>197</td>
                                    <td>92</td>
                                    <td>43.5</td>
                                </tr>
                                <tr class="total">
                                    <td>Tổng</td>
                                    <td>2,555</td>
                                    <td>108</td>
                                    <td>13.5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-dashboard">
                    <h3>Title</h3>
                    <div class="table-wrapper simple-scrollbar">
                        <table class="data-table">
                            <thead>
                                <tr>
                                    <th>Nhóm xe</th>
                                    <th>Khối lượng (tấn)</th>
                                    <th>Loading time/truck</th>
                                    <th>Loading time/tons</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>N/A</td>
                                    <td>2,555</td>
                                    <td>108</td>
                                    <td>13.5</td>
                                </tr>
                                <tr class="total">
                                    <td>Tổng</td>
                                    <td>2,555</td>
                                    <td>108</td>
                                    <td>13.5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-grid">
        <div class="card-dashboard chart-card chart-card-full">
            <div class="card-header">
                <h3>Xu hướng khối lượng xuất và năng suất loading</h3>

            </div>
            <img src="images/graphics/chart1.png" alt="">
        </div>
    </div>
    <div class="dashboard-grid">
        <!-- Cột 2 -->
        <div class="chart-card card-dashboard">
            <div class="card-header">
                <h3>Xu hướng khối lượng xuất và năng suất loading</h3>
                <div class="date-picker">
                    <select>
                        <option>Tháng này</option>
                        <option>Tháng trước</option>
                    </select>
                </div>
            </div>
            <img src="images/graphics/chart1.png" alt="">
        </div>
        <!-- Cột 1 -->
        <div class="card-dashboard">
            <div class="card-header">
                <h3>Title</h3>
                <a href="">Xem thêm</a>
            </div>
            <img src="images/graphics/chart2.png" alt="">
        </div>

    </div>
    <div class="dashboard-grid">

        <!-- Cột 1 -->
        <div class="card-dashboard">
            <div class="card-header">
                <h3>Title</h3>
                <a href="">Xem thêm</a>
            </div>
            <img src="images/graphics/chart2.png" alt="">
        </div>
        <!-- Cột 2 -->
        <div class="chart-card card-dashboard">
            <div class="card-header">
                <h3>Xu hướng khối lượng xuất và năng suất loading</h3>
                <div class="date-picker">
                    <select>
                        <option>Tháng này</option>
                        <option>Tháng trước</option>
                    </select>
                </div>
            </div>
            <img src="images/graphics/chart1.png" alt="">
        </div>

    </div>



</main>